.postContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.postTitle {
	font-size: 22px;
	cursor: pointer;
}

.postCategory {
	cursor: pointer;
	
}

.postImg {
	width: 600px;
	cursor: pointer;
}

.GoBackButton {
	font-size: 30px;
	margin: 50px;
}